
<h3 id="vnc">Install a VNC client</h3>

<p>
  The software you will be using is all pre-installed onto virtual machines,
  which you will access via a VNC (Virtual Network Computing) client.

  We recommend <b>TigerVNC</b>, available from
  <a href="https://sourceforge.net/projects/tigervnc/files/stable/1.11.0/">sourceforge.net</a>.
  For Windows users,
  the file is &quot;vncviewer64-1.11.0.exe&quot;, and for Mac users you need &quot;TigerVNC-1.11.0.dmg&quot;.
  Linux users may simply install <em>tigervnc-viewer</em> via the package manager.

  <b>RealVNC</b> VNC Viewer is another cross-platform client, which can be downloaded from
  <a href="https://www.realvnc.com/en/connect/download/viewer/.">realvnc.com</a>.
</p>


<h4>Set-up notes for VNC</h4>

<p>
You will be provided with a connection address, user name and password at the start of the course.
The following info may help with users of <em>RealVNC</em> if you are experiencing poor image quality.
With <em>TigerVNC</em>, the default image settings are normally good.
</p>

<p>
If the resolution or colour quality of the <em>RealVNC</em> desktop looks poor and patchy, you can close the connection by
clicking on the close icon at the top right of the VNC Viewer connection window, and then back in the VNC Viewer
connections window, right-click on the connection icon and select "Properties..." from the context menu.
</p>

<p>
In the Properties window that opens, click the "Options" tab and change the following settings:
<ul>
    <li/> Picture quality: ‘High’
    <li/> Scaling: ‘Scale to fit window’
</ul>
Click the "OK" button to confirm the changes, then re-initiate the VNC connection to
the VM. The colour quality and clarity of the display should be much improved, and you can also maximise
the VNC Viewer connection window to provide a larger interactive workspace by clicking on the
maximise window button at the top right.
</p>

